<html>
    <head>
        <%- include('../partials/head')%>
    </head>

    <body>
        <%- include('../partials/dashboard') %>
        <h1>Add new comment </h1>

        <form method="POST" action="/entries/comment/add" enctype="text/html" id="mainForm">

            <div class="form-group row">
                <select name="staff" class="form-control" id="staff">
                    <% for(let staff of data.activeStaff){ %>
                        <option value="<%= staff._id %>"><%= `${staff.lName}, ${staff.fName}` %></option>
                    <% } %>
                </select>
            </div>

            <div class="form-group row">
                <select name="student" class="form-control" id="student">
                    <% for(let student of data.activeStudents){ %>
                        <option value="<%= student._id %>"><%= `${student.lName}, ${student.fName}` %></option>
                    <% } %>
                </select>
            </div>

            <% let now = new Date(); %>
            <div class="form-group row">
                <label for="date">(OPTIONAL) Date for back-dated comment</label>
                <input type="date" class="form-control col-xs-4" id="date" name="date">
                <!-- <label for="time">(OPTIONAL) Time</label>
                <input type="time" class="form-control col-xs-4" id="time" name="time"> -->
            </div>

            <div class="form-group" col-s-6>
                <label for="note">Enter comment</label>
                <input type="text" class="form-control" id="note" name="note">
            </div>

            
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
        
        </form>

    </body>
</html>