<html>
    <head>
        <%- include('../partials/head')%>
       </head>

    <body>
        <%- include('../partials/dashboard') %>
        <%- include('../partials/messages') %>
        <h1>Add new student</h1>

        <form method="POST" action="<%- `/updates/student/edit/${data._id}` %>" enctype="text/html">

            <div class="form-group row">

                <div class="col-xs-3">
                    <label for="osis">OSIS #</label>
                    <input name="osis" type="text" class="form-control" id="osis" value="<%- data.osis %>">
                </div>
                <div class="col-xs-3">
                    <label for="lName">Last Name</label>
                    <input name="lName" type="text" class="form-control" id="lName" value="<%- data.lName %>">
                </div>
                <div class="col-xs-3">
                    <label for="fName">First Name</label>
                    <input name="fName" type="text" class="form-control" id="fName" value="<%- data.fName %>">
                </div>
            
            </div>

            <div class="form-group row">

                <div class="dropdown">
                    <label for="status">Status</label>
                    <select class="form-control" name="status" id="status">
                        <option value="active">Active</option>
                        <option value="withdrawn">Withdrawn/Transferred </option>
                        <option value="graduated">Graduated</option>
                    </select>

                </div>
                <div class="dropdown">
                    <select class="form-control" name="level" id="level">
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>

                </div>

            </div>

            <div class="form-group row">

                <div class="from-group col-xs-1">
                    <label for="gradCohort">Grad Cohort</label>
                    <input type="text" class="form-control" id="gradCohort" name="gradCohort">
                </div>
                <div class="form-group col-xs-1">
                    <label for="learningCohort">Learning Cohort</label>
                    <input type="text" class="form-control" id="learningCohort" name="learningCohort">
                </div>

            </div>

            <div class="form-group row">
            
                <div class="col-xs-3">
                    <label for="doeEmail">DOE Email</label>
                    <input type="email" name="doeEmail" class="form-control" id="doeEmail" placeholder="@nycstudents.net">
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        
        </form>

    </body>
</html>