<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/dashboard') %>
        <%- include('../partials/messages') %>
        
        <h1> Student Details </h1>

        <form method="POST" action="/records/student/view/">
            <div class="form-group row">
                <select name="student" class="form-control" id="student">
                    <option value="">No student selected</option>
                    <% for(let student of activeStudents){ %>
                        <option value="<%= student._id %>"><%= `${student.lName}, ${student.fName}` %></option>
                    <% } %>
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Refine list</button>
            </div>
        </form>

        <% let student = data %>
            <article>
                <a href="<%- `/updates/student/edit/${student._id}` %>"><button id='edit'>Edit information</button></a>
                <h3><%- `${student.lName}, ${student.fName} -- ${student.osis}` %></h3>
                <p><%- `Level: ${student.level}  Grad Cohort: ${student.gradCohort}` %></p>
                <p>Courses:</p>
                <% for(let c of student.courses) { %>
                    <li><%- `${c.courseId.code} - ${c.courseId.schoolYear}, term ${c.courseId.term}` %></li>
                <% } %>
                <p>Comments</p>
                <% for(let comment of student.comments) { %>
                    <li>
                        <%- `${comment.staff} on ${comment.createdAt}` %><br>
                        <i><%- `${comment.note}` %></i>
                    </li>
                <% } %>
            </article>
    </body>
</html>